Source: cpp-annotations
Section: devel
Priority: optional
Maintainer: Frank B. Brokken <f.b.brokken@rug.nl>
Uploaders: George Danchev <danchev@spnet.net>
Build-Depends: debhelper (>= 5), icmake (>= 6.22-7), yodl (>= 2.03),
               zip, tetex-bin, tetex-extra, gs | gs-gpl, g++ (>= 4.0.0)
Standards-Version: 3.7.2

Package: cpp-annotations
Architecture: any
Description: Extensive tutorial and documentation about C++
 The C++ Annotations offer an extensive tutorial about the C++ programming
 language. It can be used as a textbook for C/C++ programming courses. A
 translation of this document (included in this package) is available in
 Portugese.
 .
 This document is intended for knowledgeable users of C (or any other language
 using a C-like grammar, like Perl or Java) who would like to know more about,
 or make the transition to, C++. This document is the main textbook for
 Frank's C++ programming courses, which are yearly organized at the University
 of Groningen, the Netherlands. 
 .
 The C++ Annotations do not cover all aspects of C++, though. In particular,
 C++'s basic grammar, which is, for all practical purposes, equal to C's
 grammar, is not covered. For this part of the C++ language, the reader should
 consult other texts, like a book covering the C programming language.
 .
 The package offers the C++ Annotations in the following document formats:
    - plain ascii text
    - LaTeX (including a .dvi file)
    - PostScript
    - pdf
    - html
 The postscript, pdf and LaTeX formats were constructed for two different
 paper-sizes: A4 and legal.

